.row{
    width: 100% !important;
    text-align: center;
    margin-left: 0% !important;
}
.col{
    display: inline-block;
    align-items: center;
}
.col>.card{
    margin-top: 20px;
    height: 300px;
    padding: 0px;
    margin-left:4px;
}
.btn{
    display: grid;
    place-items: center;
    background: #e3edf7;
    padding: 1.4em;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
            -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
  }
  .btn:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1),
            0.5px 0.5px 0px rgba(0,0,0,0.15),
            0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em);
  }
  .btn svg {
    transition: transform 0.5s;
  }
  .btn:hover svg {
    transform: scale(0.9);
    fill: #333333;
  }
.card{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    justify-content: center;
}
.card-body>svg{
    width: 20px;
    color: crimson;
    width: 101%;
    height: 100px;
    text-align: justify;
}
.container{
    margin-top: 10px;
}
.card-body>.salt{
    background-color: black;
}
.card-body>.olx{
    background: aqua;
}
.card-body>h2{
    text-align: center;
}
.card-body {
    text-align: center;
}
.card-body>img{
    color: crimson;
    width:auto;
    height: 100px;
    text-align: justify;
}
@media only screen and (max-width:502x) {
    .col>card{
        background-color: aquamarine;
        width: 100%;
    }
    
}
.card-body>.tere{
    width: 200px;
}